<ion-header>
  <ion-navbar class="header-un" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Rutas</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
<div class="alert-info" text-wrap style="white-space: pre-line">
    <div *ngIf="this.toolTipText.length <= limit">{{this.toolTipText}}</div>
    <div *ngIf="truncating && this.toolTipText.length > limit">
      {{this.toolTipText| truncate: this.limit: '.'}}
      <a  class="hand-pointer"  (click)="truncating = false">leer más</a>
    </div>
    <div *ngIf="!truncating && this.toolTipText.length > limit">
      {{this.toolTipText}}
      <a class="hand-pointer" (click)="truncating = true">leer menos</a>
    </div>
  
</div>


<ion-card>
  <ion-item>
    <ion-label>Seleccione la sede</ion-label>
    <ion-select [(ngModel)]="idsede" name="idsede"  (ionChange)='listarFacultades()' interface="action-sheet">
      <ion-option *ngFor="let sede of sedes" [value]="sede.cod_sede" [selected]="idsede == sede.cod_sede">{{ sede.sede }}</ion-option>
    </ion-select>
  </ion-item>
</ion-card>

<ion-card *ngIf="facultades.length>0">
  <ion-item>
    <ion-label>Seleccione la facultad</ion-label>
    <ion-select [(ngModel)]="idfacultad" name="idfacultad" (ionChange)='listarProgramas()' interface="popover">
      <ion-option *ngFor="let facultad of facultades" [value]="facultad.cod_facultad" >{{ facultad.facultad }}</ion-option>
    </ion-select>
  </ion-item>
</ion-card>

<ion-card *ngIf="programas.length>0">
  <ion-item>
    <ion-label>Seleccione el programa</ion-label>
    <ion-select [(ngModel)]="idprograma" name="idprograma" (ionChange)='verRutasPrograma()' interface="popover">
      <ion-option *ngFor="let programa of programas" [value]="programa.cod_uniprograma">{{ programa.programa }}</ion-option>
    </ion-select>
  </ion-item>
</ion-card>

<ion-card *ngIf="rutasPrograma?.length>0 else nohay" >
    <ion-slides pager>
      <ion-slide *ngFor="let ruta of rutasPrograma">
          <ion-toolbar class="toolbar-rutas">
              <span id="slide-title" (click)="verAsignaturas(ruta.cod_ruta,idprograma)" >{{ruta.nombre_ruta}}</span>
          </ion-toolbar>
          <p class="slide-rutas" >
            <span class="slide-creditos">Créditos: {{ruta.cred_ruta}}</span><br  />
            {{ruta.descripcion_ruta}}
          </p>
      </ion-slide>
    </ion-slides>
</ion-card>
<ng-template #nohay>
    <div class="alert-danger" text-wrap style="white-space: pre-line" *ngIf="programas.length>0"   >
        <p>
            Este programa no cuenta con rutas propuestas por el programa curricular.
        </p>  
    </div>  
</ng-template>

</ion-content>
